*{
  padding: 0;

}
.food-cart-container {
  /* background-color: aqua; */
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

/* .food-cart-container */
.food-cart-container .food-cart-item-container input {
  max-width: 50px;
  min-width: 50px;
}

.food-cart-container .food-cart-item-container input::-webkit-outer-spin-button,
.food-cart-container .food-cart-item-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.food-cart-container .fooditem-main-container {
  max-width: 50px;
  min-height: 150px;
}

.food-cart-container .food-cart-item-container p {
  flex: 1;
}

.food-cart-container .food-cart-item-container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
  /* background-color: aqua; */
  margin: auto;
}


.food-cart-container .delete-btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.food-cart-container .delete-btn:hover,
.food-cart-container .delete-btn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.food-cart-container .delete-btn:hover {
  transform: translateY(-1px);
}

.food-cart-container .delete-btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.food-cart-container .delete-btn {
  /* max-width: 20px; */
  min-width: 150px;
  /* flex: 1; */
  /* background-color: aqua; */
}

.food-cart-container input {
  min-height: 20px;
  margin: 5px;
  flex: 1;
  /* width: 40px; */

  /* -    width: 30px; */
}

.food-cart-container .total-price-container {
  min-height: 50px;
  padding-left: 5px;
}




.total-price-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  background-color: aliceblue;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.food-cart-item-container .amount-item-container .btn-minus,
.food-cart-item-container .amount-item-container .btn-plus {
  background-color: azure;
  padding: 5px;
  cursor: pointer;
}

.out-size-container {
  position: fixed;
  top: -10%;
  height: 1000px;
  width: 100vw;
  background-color: gray;
  opacity: 0.8;

}



.hide{
  position: fixed;
  left:-1000%;
}

@media (width<=600px) {
  .food-cart-container .food-cart-item-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    /* background-color: aqua; */
    margin: auto;
  }
}


@keyframes go-down-sec {
  0%{
    top:20%;
    opacity:0
  }
  100%{
    top:50%;
    opacity:1
  }
}



/* <!-- HTML !-->
<button class="button-5" role="button">Button 5</button> */

/* CSS */
.container-1 button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.container-1 button:hover,
.container-1 button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.container-1 button:hover {
  transform: translateY(-1px);
}

.container-1 button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}