.fooditem-main-container img{
    /* width: 10%; */
    /* height: 100%; */
    /* max-width: 170px; */
    /* max-height: 170px; */
    /* position: absolute; */
    /* top:-30%; */
    /* left:50%; */
    height: 100%;
    
    /* transform: translate(-50%,0); */
}
.fooditem-main-container .food-item-img {
    height: 80%;
    max-width: 170px;
    max-height: 170px;
    position: absolute;
    top:-30%;
    left:50%;
    border-radius: 50%;
    overflow: hidden;
    background-color:aqua;
    transform: translate(-50%,0);
}
.fooditem-main-container p{
    color: black;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%,0);
}
.fooditem-main-container span{
    color: #FA4A0C;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,0);
}

.fooditem-main-container {
    position: relative;
    border-radius: 7%;
    margin: 10px;
    margin-top: 80px;
    padding: 20px;
    height: 20%;
    min-width: 170px;
    min-height: 200px;
    /* background-color: aqua; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.fooditem-main-container .Link-container{
    text-decoration: none;
    
}